body {
  margin:0;
}

.wrapper {
  margin: auto;
  width: 100%;
}

.header {
  width: 98%;
  background: top 24px left 43px no-repeat url(img/Tesla.svg);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 90px 24px 33%;
}

.menu__Model_item {
  position: relative;
  margin-right: 42px;
  font: 600 15px/18px "montserratmedium", Arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__Model_item:after {
  position: absolute;;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #E51937;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__burger_item {
  position: relative;
  margin-right: 24px;
  font: 600 15px/18px "montserratmedium", Arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__burger_item:last-child {
  margin-right: 0;
}

.menu__Model_item:last-child {
  margin-right: 0;
}

.menu__Model_item:hover {
  color: #E51937;
  opacity: .5;
}

.menu__Model_item:hover:after {
  opacity: 1;
  width: 100%;
}

#checkbox:checked~.menu__checkbox >span {
  transform: rotate(45deg);
  background-color: #FFF;
  
}

#checkbox:checked~.menu__checkbox >span::before {
  top: 0;
  transform: rotate(0);
  background-color: #FFF;
}

#checkbox:checked~.menu__checkbox >span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #FFF;
}

.menu__checkbox {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 94%;
  cursor: pointer;
  z-index: 1;  
}

.menu__checkbox > span,
.menu__checkbox > span::before,
.menu__checkbox > span::after {
  display: block;
  position: absolute;
  width: 23px;
  height: 1px;
  background-color: #E51937;
  transition-duration: .25s;
}

.menu__checkbox > span::before {
  content: '';
  top: -8px;
}

.menu__checkbox > span::after {
  content: '';
  top: 8px;
}

#checkbox {
  opacity: 0;
}

.main {
  background: top 670px left 317px no-repeat url(img/2,7.svg), top 670px left 550px no-repeat url(img/632.svg);
  height: 815px;
}

.main__title {
  margin: 0;
  padding-top: 54px;
  height: 98px;
  text-align: center;
  font: 600 90px/110px "montserratmedium", Arial, helvetica, sans-serif;
}

.main__subtitle {
  margin: 0;
  text-align: center;
  font: 500 15px/18px "montserratmedium", Arial, helvetica, sans-serif;
  background: top -100px left no-repeat url(img/Teslacar.svg);
  height: 500px;
}

.main__buttonfon {
    background: top 40px left 797px no-repeat url(img/Test.svg);
    background-size: 8.8%
}

.main__button {
  margin:29px 0 0 66.7%;
  display: inline-block;
  font: bold 17px/16px "montserratmedium", Arial, helvetica, sans-serif;
  color: #E51937;
  border: 2px solid #E51937;
  padding: 10px 40px;
  text-decoration: none;
  transition: .5s;
}

.main__button:hover {
  opacity: .5;
}

.hide {
   display: none;
}

.hide + label ~ .dropdown {
    display: none;
}

#detailed:checked ~ .menu__detailed > span {
  transform: rotate(45deg);
}

#detailed:checked ~ .menu__detailed > span::before {
  margin-left: 10px;
  top: -10px;
  transform: rotate(90deg);
}


.menu__detailed {
  display: flex;
  align-items: center;
  position: absolute;
  left: 49%;
  right: 45%;
  width: 20px;
  top: 73%;
  cursor: pointer;
  z-index: 1;
}

.menu__detailed > span,
.menu__detailed > span::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #E51937;
  transition-duration: .25s;
}

.menu__detailed > span {
  transform: rotate(315deg);
}

.menu__detailed > span::before {
  content: '';
  margin-left: 10px;
  top: 10px;
  transform: rotate(90deg)
}

.hide:checked + label + .dropdown {
    display: block;
  }

.future {
  margin-top: 0;
  display: flex;
  padding-left: 69.4%;
  flex-direction: column;
  justify-content: flex-end;
  background: top 65px left no-repeat url(img/cockpit.svg);
  background-size: 88%;
}

.dropdown__h1 {
  display: flex;
  position: absolute;
  color: #E51937;
  padding:23px 70% 0 80px;
  font: 600 70px/85px "montserratmedium", Arial, helvetica, sans-serif;
}

.dropdown__h2 {
  display: flex;
  position: absolute;
  color: #E51937;
  padding: 58% 0 0 44%;
  font: 600 198px/244px "montserratmedium", Arial, helvetica, sans-serif;
  opacity: .1;
}

.future__text, .future__title, .icons, .future__footer {
  background-color: #E51937;
  color: #FFF;
  margin:0;
}

.future__title {
  padding:54px 52px 9px;
  font: 600 31px/37px "montserratmedium", Arial, helvetica, sans-serif;
}

.future__text {
  padding:2px 80px 50px 52px;
  font: 500 15px/18px "montserratmedium", Arial, helvetica, sans-serif;
}

.icons__display {
  margin:0;
  height: 100px;
  padding-left:75px;
  background: top 23px left 53px no-repeat url(img/screen.svg);
}

.icons__display_title {
  margin:0;
  height: 40px;
  padding:12px 0  0 34px;
  font: 600 20px/24px "montserratmedium", Arial, helvetica, sans-serif;
}

.icons__display_title_number {
  font: 600 34px/43px "montserratmedium", Arial, helvetica, sans-serif;
}

.icons__display_subtitle {
  margin:0;
  padding-left:33px;
  font: normal 12px/15px "montserratmedium", Arial, helvetica, sans-serif;
}


.icons__signal {
  margin:0;
  height: 100px;
  padding-left:75px;
  background: top 27px left 49px no-repeat url(img/wifi.svg);
}

.icons__signal_title {
  margin:0;
  height: 40px;
  padding:14px 70px 0 39px;
  font: 600 20px/18px "montserratmedium", Arial, helvetica, sans-serif;
}

.icons__signal_subtitle {
  margin:0;
  padding:0 200px 0 38px;
  font: normal 12px/15px "montserratmedium", Arial, helvetica, sans-serif;
}


.icons__volume {
  height: 100px;
  padding-left:75px;
  background: top 20px left 53px no-repeat url(img/bag.svg);
}

.icons__volume_title {
  margin:0;
  height: 40px;
  padding:7px 52px 0 38px;
  font: 600 20px/24px "montserratmedium", Arial, helvetica, sans-serif;
}

.icons__volume_title_number {
  font: 600 35px/43px "montserratmedium", Arial, helvetica, sans-serif;
}

.icons__volume_subtitle {
  margin:0;
  padding:0 200px 0 37px;
  font: normal 12px/15px "montserratmedium", Arial, helvetica, sans-serif;
}

.future__footer {
  padding:159px 0 74px;
}

.future__footer_item {
  color: #FFF;
  text-decoration: none;
  padding:2px 0 5px 79px;
  background: top left 50px no-repeat url(img/Group1.svg);
  font: bold 13px/16px "montserratmedium", Arial, helvetica, sans-serif;
}

.future__footer__button {
  margin-left: 33px;
  font: 500 17px/16px "montserratmedium", Arial, helvetica, sans-serif;
  color: #fff;
  padding: 8px 40px;
  text-decoration: none;
  border: 2px solid #FFF;
  transition: .5s;
}

.future__footer__button:hover {
  opacity: .5;
}

.sefe {
  margin-top: 0;
  display: flex;
  padding-right:69.5%;
  flex-direction: column;
  justify-content: flex-end;
}

.sefe__title, .sefe__text, .sefe__estimation, .sefe__stars, .sefe__footer {
  background-color: ##E51937;
  color: #FFF;
  margin:0;
}

.sefe__title {
  padding:52px 56px 11px;
  font: 600 30px/37px "montserratmedium", Arial, helvetica, sans-serif;
}

.sefe__text {
  padding:2px 70px 26px 56px;
  font: 500 15px/18px "montserratmedium", Arial, helvetica, sans-serif;
}

.sefe__car {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 729px;
  background:top right 45px no-repeat url(img/frame.svg);
  background-size: 73%;
}

.sefe__title, .sefe__text, .sefe__estimation, .sefe__stars, .sefe__footer {
  background-color: #E51937;
  margin:0;
}

.sefe__estimation_title {
  margin-bottom: 29px;
  padding-right: 68px;
  text-align: center;
  font: 600 30px/37px "montserratmedium", Arial, helvetica, sans-serif;
}

.sefe__estimation_item {
  height: 37px;
  margin:0;
  padding:0 150px 0 55px;
  font: bold 17px/21px "montserratmedium", Arial, helvetica, sans-serif;
  background: top -2px left 208px no-repeat url(img/Star.svg), top -2px left 237px no-repeat url(img/Star.svg), top -2px left 266px no-repeat url(img/Star.svg), top -2px left 295px no-repeat url(img/Star.svg), top -2px left 323px no-repeat url(img/Star.svg);
}

.sefe__estimation_item_inscription {
  font: bold 10px/12px "montserratmedium", Arial, helvetica, sans-serif;
}

.sefe__stars_title {
  margin: 0;
  height: 100px;
  padding: 93px 0 0 151px;
  font: 600 50px/46px "montserratmedium", Arial, helvetica, sans-serif;
  background: top 95px left 66px no-repeat url(img/Group.svg);
}

.sefe__stars_subtitle {
  margin:0;
  font: 600 25px/30px "montserratmedium", Arial, helvetica, sans-serif;
}

.sefe__footer {
  padding:36px 0 60px;
}

.sefe__footer_item {
  color: #FFF;
  text-decoration: none;
  padding:4px 0 8px 69px;
  background: top left 38px no-repeat url(img/Group1.svg);
  font: bold 13px/16px "montserratmedium", Arial, helvetica, sans-serif;
}

.sefe__footer__button {
  margin-left: 31px;
  display: inline-block;
  font: bold 13px/16px "montserratmedium", Arial, helvetica, sans-serif;
  color: #fff;
  padding: 10px 42px;
  text-decoration: none;
  border: 2px solid #FFF;
  transition: .5s;
}

.sefe__footer__button:hover {
  opacity: .5;
}


@media (max-width: 1921px) {

  .main__subtitle {
    background: top -100px left 50% no-repeat url(img/Teslacar.svg);
  }

  .menu__detailed {
	top: 900px;
  }

  .dropdown__h2 {
    padding: 40% 0 0 44%;
    font: 600 245px/244px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .future__title {
    font: 600 36px/37px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .future__text {
    font: 500 20px/23px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__display_title {
    font: 600 25px/24px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__display_subtitle {
    font: normal 17px/15px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__signal_title {
    padding:14px 250px 10px 39px;
    font: 600 25px/23px "montserratmedium", Arial, helvetica, sans-serif;
	width: 350px;
  }

  .icons__signal_subtitle {
    font: normal 17px/23px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__volume_title {
    font: 600 25px/24px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__volume_subtitle {
    font: normal 17px/23px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__title {
    font: 600 35px/37px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__text {
    padding:2px 85px 26px 56px;
    font: 500 20px/23px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__estimation_title {
    font: 600 35px/37px "montserratmedium", Arial, helvetica, sans-serif;
	margin:0 0 29px 0;
  }

  .sefe__estimation_item {
    font: bold 23px/26px "montserratmedium", Arial, helvetica, sans-serif;
	background: top -2px left 228px no-repeat url(img/Star.svg), top -2px left 257px no-repeat url(img/Star.svg), top -2px left 286px no-repeat url(img/Star.svg), top -2px left 315px no-repeat url(img/Star.svg), top -2px left 344px no-repeat url(img/Star.svg);
    background-size: 5%;
  }

  .sefe__estimation_item_inscription {
    font: bold 15px/12px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__car {
	height: 900px;
  }

}

@media (max-width: 1802px) {

  .dropdown__h2 {
    padding: 45% 0 0 44%;
    font: 600 218px/244px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .future__text {
    font: 500 17px/23px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__display_title {
    font: 600 22px/24px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__display_subtitle {
    font: normal 14px/15px "montserratmedium", Arial, helvetica, sans-serif;
  }
  .icons__signal_title {
    padding:14px 150px 10px 39px;
    font: 600 22px/23px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__signal_subtitle {
    font: normal 17px/23px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__volume_title {
    font: 600 22px/24px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__volume_subtitle {
    font: normal 14px/23px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__text {
    padding:2px 85px 26px 56px;
    font: 500 17px/23px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__estimation_title {
    font: 600 32px/37px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__estimation_item {
    font: bold 20px/26px "montserratmedium", Arial, helvetica, sans-serif;
    background-size: 5%;
  }

  .sefe__estimation_item_inscription {
    font: bold 15px/12px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__car {
        background: top 100px right 45px no-repeat url(img/frame.svg);
		background-size: 73%;
  }

}

@media (max-width: 1650px) {

  .future__title {
    font: 600 31px/37px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .future__text {
    font: 500 15px/18px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__display_title {
    font: 600 20px/24px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__display_subtitle {
    font: normal 12px/15px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__signal_title {
    padding:14px 100px 0 39px;
    font: 600 20px/18px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__signal_subtitle {
    font: normal 12px/15px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__volume_title {
    font: 600 20px/24px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .icons__volume_subtitle {
    font: normal 12px/15px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__title {
    font: 600 30px/37px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__text {
    padding:2px 25% 26px 56px;
    font: 500 15px/18px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__estimation_title {
    font: 600 30px/37px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__estimation_item {
    font: bold 17px/21px "montserratmedium", Arial, helvetica, sans-serif;
    background-size: 5%;
  }

  .sefe__estimation_item_inscription {
    font: bold 10px/12px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .dropdown__h2 {
    padding: 45% 0 0 44%;
    font: 600 195px/244px "montserratmedium", Arial, helvetica, sans-serif;
  }

}

@media (max-width: 1500px) {

  .dropdown__h2 {
    padding: 55% 0 0 44%;
    font: 600 195px/244px "montserratmedium", Arial, helvetica, sans-serif;
  }
}

@media (max-width: 1461px) {

  .future {
    background: top 97px left no-repeat url(img/cockpit.svg);
    background-size: 88%;
  }
}


@media (max-width: 1440px) {

  .main__title {
    padding-top: 51px;
  }

  .dropdown__h2 {
    padding: 58% 0 0 43%;
    font: 600 200px/244px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .future {
    background: top 60px left no-repeat url(img/cockpit.svg);
  }

  .future__title {
    padding:54px 0 9px 52px;
  }

  .future__footer__button {
    font: 500 13px/16px "montserratmedium", Arial, helvetica, sans-serif;
    padding: 10px 42px;
	}

  .sefe__text {
      padding: 2px 70px 26px 56px;
  }

  .sefe__estimation_title {
    padding: 29px 68px 0 0;
  }

  .sefe__estimation_item {
    font: bold 17px/21px "montserratmedium", Arial, helvetica, sans-serif;
    background: top -2px left 208px no-repeat url(img/Star.svg), top -2px left 237px no-repeat url(img/Star.svg), top -2px left 266px no-repeat url(img/Star.svg), top -2px left 295px no-repeat url(img/Star.svg), top -2px left 323px no-repeat url(img/Star.svg);
  }

  .main__button {
      margin: 32px 0 0 66.7%;
      font: bold 13px/16px "montserratmedium", Arial, helvetica, sans-serif;
      padding: 10px 43px;
  }

  .menu__detailed {
    top: 855px;
  }

  .dropdown__h1 {
    padding: 20px 70% 0 82px;
  }

  .icons__signal_title {
    width: 250px;
  }

  .sefe__car {
    height: 828px;
  }
}

@media (max-width: 1379px) {

  .future {
      background: top 75px left no-repeat url(img/cockpit.svg);
  }

  .main__button {
    margin: 32px 0 0 70%;
  }

  .dropdown__h2 {
    padding: 58% 0 0 35%;
  }
}

@media (max-width: 1330px) {

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 150px 0;
    list-style: none;
    text-align: center;
    background-color: #E51937;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu__Model, .burger {
    display: flex;
    flex-direction: column;
  }

  .menu__Model_item {
    height: 100px;
	color: #FFF;
	font: 600 31px/37px "montserratmedium", Arial, helvetica, sans-serif;
  }
  
  .menu__Model_item:last-child {
    margin-right: 50px; 
  }
  
  .menu__burger_item {
    height: 100px;
	margin-right: 50px;	
	color: #FFF;
	font: 600 31px/37px "montserratmedium", Arial, helvetica, sans-serif;
  }  
  
  .menu__burger_item:last-child {
     margin-right: 50px;	
  } 

  #checkbox:checked~.menu {
    left: 0;
    visibility: visible;
  }
 
  .main {
    background: top 670px left 450px no-repeat url(img/2,7.svg), top 670px left 750px no-repeat url(img/632.svg);
    background-size: 15%;
  }

  .main__buttonfon {
      background: top 125px left 500px no-repeat url(img/Test.svg);
      background-size: 10%;
      height:220px;
  }

  .main__button {
    margin:115px 0 0 53%;
  }

  .main__subtitle {
    background-size: 110%;
  }

  .future_bloc {
    display: flex;
    flex-direction: row;
  }

  .future {
    padding: 70% 0 0  0;
    height: 50%;
    background-size: 100%;
  }

  .future_bloc > .icons, .future__tt {
    width: 50%;
  }

  .future__text {
    padding:2px 80px 108px 52px;
  }

  .future__footer {
    padding:70px 0;
  }

  .future__footer_item {
    padding:2px 0 5px 40%;
    background: top left 76% no-repeat url(img/Group1.svg);
  }

  .sefe_bloc {
    display: flex;
    flex-direction: row;
  }

  .sefe {
    padding: 15% 0 0  0;
  }

  .sefe_bloc > .sefe__estimationstars, .sefe__tt {
    width: 50%;
  }

  .sefe__car {
    height: 729px;
    background:top right no-repeat url(img/frame.svg);
    background-size: 100%;
	  position: static;
  }

  .sefe__estimation_title {
    margin: 0 0 29px;
  }

  .sefe__title {
    padding:52px 100px 11px 56px;
  }

  .sefe__text {
    padding:2px 70px 244px 56px;
  }

  .sefe__estimation_item {
    background-size: 4%;
  }

  .sefe__footer {
    padding:70px 0;
  }

  .sefe__footer_item {
    padding:2px 0 5px 40%;
    background: top left 76% no-repeat url(img/Group1.svg);
  }

  .dropdown__h2 {
    padding: 100% 0 0 24%;
    font: 600 240px/244px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .menu__detailed {
    top: 900px;
  }

}

@media (max-width: 1290px) {

  .dropdown__h2 {
    padding: 100% 0 0 34%;
    font: 600 200px/244px "montserratmedium", Arial, helvetica, sans-serif;
  }
}

@media (max-width: 1244px) {

  .dropdown__h2 {
    padding: 100% 0 0 27%;
  }

  .main__button {
    margin: 115px 0 0 58%;
  }

  .dropdown__h1 {
    padding:23px 60% 0 80px;

  }
}


@media (max-width: 1158px) {

  .sefe__text {
      padding: 2px 70px 226px 56px;
  }

  .sefe__footer_item {
       background: top left 73% no-repeat url(img/Group1.svg);
   }

   .future__footer_item {
       background: top left 73% no-repeat url(img/Group1.svg);
   }

   .dropdown__h2 {
    padding: 100% 0 0 20%;
  }
}

@media (max-width: 1050px) {


  .main__button {
    margin: 115px 0 0 60%;
  }

  .main__buttonfon {
      background: top 125px left 350px no-repeat url(img/Test.svg);
      background-size: 10%
  }

  .main {
    background: top 670px left 400px no-repeat url(img/2,7.svg), top 670px left 600px no-repeat url(img/632.svg);
    height: 815px;
  }

    .sefe__title {
    padding: 52px 0px 11px 56px;
  }

    .dropdown__h2 {
    padding: 110% 0 0 10%;
  }

  .sefe__footer_item {
       background: top left 70% no-repeat url(img/Group1.svg);
   }

   .future__footer_item {
       background: top left 70% no-repeat url(img/Group1.svg);
   }

}

@media (max-width: 1006px) {
   .sefe__text {
     padding: 2px 70px 208px 56px;
   }
}

@media (max-width: 932px) {

  .main {
    background: top 550px left 317px no-repeat url(img/2,7.svg), top 550px left 550px no-repeat url(img/632.svg);
  }

  .main__buttonfon {
      background: top 10px left 350px no-repeat url(img/Test.svg);
      background-size: 12%
  }

  .main__button {
    margin:0 0 0 60%;
  }

  .main__subtitle {
    background: top -50px left 50% no-repeat url(img/Teslacar.svg);
    background-size: 110%;
  }


  .dropdown__h2 {
    padding: 115% 0 0 27%;
    font: 600 155px/244px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__title {
    padding:52px 0 11px 56px;
  }

  .dropdown__h1 {
  padding: 23px 50% 0 80px;
  }
}

@media (max-width: 878px) {


    .sefe__footer_item {
      background: top left 67% no-repeat url(img/Group1.svg);
    }

    .future__footer_item {
      background: top left 67% no-repeat url(img/Group1.svg);
    }

	  .dropdown__h2 {
      padding: 120% 0 0 27%;
      font: 600 130px/244px "montserratmedium", Arial, helvetica, sans-serif;
    }

    .sefe__text {
      padding: 2px 70px 190px 56px;
    }
}

@media (max-width: 850px){
    .sefe__text {
      padding: 2px 70px 172px 56px;
    }
}

@media (max-width: 810px) {

    .dropdown__h2 {
      padding: 125% 0 0 27%;
    }

    .main__buttonfon {
    background: top 10px left 250px no-repeat url(img/Test.svg);
    background-size: 15%;
  }

  .main {
    background: top 550px left 217px no-repeat url(img/2,7.svg), top 550px left 480px no-repeat url(img/632.svg);
  }

    .future__title {
      padding: 55px 0 9px 36px;
      font: 600 30px/37px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .future__text {
      padding: 14px 40px 15px 34px;
  }

  .icons__display {
    padding: 44px 0 0 93px;
    background: top 67px left 70px no-repeat url(img/screen.svg);
    height: 87px;
  }

  .icons__signal {
    height: 95px;
    padding-left: 93px;
    background: top 27px left 66px no-repeat url(img/wifi.svg);
  }

  .icons__signal_title {
    padding: 14px 40px 0 39px;
    height: 38px;
  }

  .icons__volume {
    padding-left: 93px;
    background: top 20px left 71px no-repeat url(img/bag.svg);
  }

  .icons__volume_subtitle {
    padding: 0 70px 0 37px;
  }



  .sefe__title {
    padding: 63px 10px 11px 36px;
  }

    .sefe__estimation_title {
    padding: 63px 68px 0 19px;
  }

    .sefe__stars {
    display: none;
  }

  .sefe__estimation_item {
    padding: 0 150px 0 39px;
    background-size: 6%;
    background: top -2px left 190px no-repeat url(img/Star.svg), top -2px left 219px no-repeat url(img/Star.svg), top -2px left 248px no-repeat url(img/Star.svg), top -2px left 277px no-repeat url(img/Star.svg), top -2px left 304px no-repeat url(img/Star.svg);
  }

    .sefe__footer_item {
    padding: 6px 0 12px 26%;
    background: top left 49% no-repeat url(img/Group1.svg);
    background-size: 9%;
    font: bold 16px/20px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__footer__button {
    margin-left: 40px;
    font: 500 16px/20px "montserratmedium", Arial, helvetica, sans-serif;
    padding: 15px 65px;
  }

  .sefe__footer {
    padding: 53px 0 66px;
  }

    .future {
    padding: 73% 0 0 0;
    background: top 63px left no-repeat url(img/cockpitiPad.svg);
    background-size: 100%;
  }

  .sefe__text {
    padding: 2px 20px 38px 36px;
  }

}

@media (max-width: 768px) {

  .header {
      background: top 24px left 15px no-repeat url(img/Tesla.svg);
    }

    .menu__checkbox {
      left: 91%;
    }

    .menu__checkbox > span,
    .menu__checkbox > span::before,
    .menu__checkbox > span::after {
      width: 36px;
      height: 3px;
    }

  .main__title {
    padding-top: 90px;
  }

  .main__subtitle {
    padding: 3px 2px 0 0;
    background: top 2px left 40% no-repeat url(img/Teslacar.svg);
    background-size: 137%;
  }

  .main {
    background: top 661px left 140px no-repeat url(img/2,7iPad.svg), top 657px left 420px no-repeat url(img/632iPad.svg);
    background-size: 28%;
    height: 935px;
  }

  .main__buttonfon {
      background: top 119px left 171px no-repeat url(img/TestiPad.svg);
      background-size: 22%;
  }

  .main__button {
    margin: 107px 0 0 48.4%;
    font: bold 16px/20px "montserratmedium", Arial, helvetica, sans-serif;
    color: #FFFFFF;
    background: #E51937;
    padding: 17px 65px;
  }

  .dropdown__h1 {
    padding: 22px 0 0 56.7%;
  }

  .future__footer_item {
    padding: 6px 0 12px 26%;
    background: top left 49% no-repeat url(img/Group1.svg);
    background-size: 9%;
    font: bold 16px/20px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .future__footer__button {
    margin-left: 40px;
    font: 500 16px/20px "montserratmedium", Arial, helvetica, sans-serif;
    padding: 15px 65px;
  }

  .menu__detailed {
    top: 990px;
    left: 48%;
  }

  .dropdown__h2 {
      padding: 125% 0 0 11%;
      font: 600 148px/180px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .sefe__car {
    background: top right 34px no-repeat url(img/frameiPad.svg);
    height: 462px;
  }

  .sefe {
    padding: 10% 0 0 0;
  }
}

@media (max-width: 738px) {

  .sefe__text {
    padding: 2px 20px 38px 30px;
  }
}

@media (max-width: 726px) {

  .sefe__text {
    padding: 2px 20px 38px 20px;
  }
}

@media (max-width: 713px) {

  .icons, .sefe__estimationstars {
    display: none;
  }

  .sefe__tt, .future__tt {
    width: 100%;
  }

  .dropdown__h2 {
    padding: 110% 0 0 11%;
  }
}

@media (max-width: 674px) {

  .dropdown__h2 {
    padding: 120% 0 0 11%;
    font: 600 120px/140px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .main__buttonfon {
    background: top 100px left 150px no-repeat url(img/TestiPad.svg);
  }

  .main__button {
    margin: 88px 0 0 50%;
  }

  .sefe__car {
    background: top 3px right no-repeat url(img/frameiPad.svg);
    background-size: 95%;
  }

  .dropdown__h1 {
    display: none;
  }

}

@media (max-width: 620px) {

  .main__buttonfon {
      background: top 10px left 150px no-repeat url(img/TestiPad.svg);
      background-size: 18%;
  }

  .main__button {
    margin: 0 0 0 50%;
    font: bold 13px/16px "montserratmedium", Arial, helvetica, sans-serif;
    padding: 17px 50px;
  }

  .main {
    background: top 561px left 100px no-repeat url(img/2,7iPad.svg), top 557px left 320px no-repeat url(img/632iPad.svg);
  }

  .main {
    height: 735px;
  }

  .menu__detailed {
    top: 870px;
  }

  .sefe__footer_item {
    background: top left 40% no-repeat url(img/Group1.svg);
  }

  .future__footer_item {
    background: top left 40% no-repeat url(img/Group1.svg);
  }

}

@media (max-width: 565px) {

  .sefe__footer, .future__footer {
    display: none;
  }

  .dropdown__h2 {
    padding: 110% 0 0 11%;
    font: 600 110px/122px "montserratmedium", Arial, helvetica, sans-serif;
  }

}

@media (max-width: 512px) {

  .main {
      background: top 461px left 50px no-repeat url(img/2,7iPad.svg), top 457px left 280px no-repeat url(img/632iPad.svg);
      height: 635px;
  }

  .main__subtitle {
    height: 400px;
  }

  .main__button {
    padding: 10px 46px;
  }

  .menu__detailed {
    top: 770px;
  }

  .dropdown__h2 {
    padding: 110% 0 0 8%;
    font: 600 100px/122px "montserratmedium", Arial, helvetica, sans-serif;
  }

}

@media (max-width: 465px) {

  .main {
      background-size: 30%;
  }

  .main__subtitle {
    height: 350px;
  }

  .main__buttonfon {
      background: top 10px left 100px no-repeat url(img/TestiPad.svg);
      background-size: 18%;
  }

  .dropdown__h2 {
    padding: 120% 0 0 0;
    font: 600 100px/122px "montserratmedium", Arial, helvetica, sans-serif;
  }

}

@media (max-width: 410px) {

  .dropdown__h2 {
    padding: 130% 0 0 0;
    font: 600 95px/122px "montserratmedium", Arial, helvetica, sans-serif;
  }

}

@media (max-width: 376px) {

  .menu__checkbox {
      top: 97px;
      left: 88%;
  }

  .menu__checkbox > span, .menu__checkbox > span::before, .menu__checkbox > span::after {
    width: 24px;
    height: 2px;
  }

  .header {
    background: top 75px left 3px no-repeat url(img/Tesla.svg);
    height: 110px;
    background-size: 37%;
  }

  .main__title {
    padding-top: 37px;
    font: 600 50px/61px "montserratmedium", Arial, helvetica, sans-serif;
    height: 0;
  }

  .main__subtitle {
    padding: 59px 2px 0 0;
    font: 500 10px/12px "montserratmedium", Arial, helvetica, sans-serif;
    background: top 68px left 40% no-repeat url(img/Teslacar.svg);
    background-size: 140%;
    height: 339px;
  }

  .main {
    background: top 349px left 43px no-repeat url(img/2,7iPad.svg), top 347px left 208px no-repeat url(img/632iPad.svg);
    background-size: 33%;
    height: 468px;
  }

  .main__buttonfon {
    background: top 10px left 35px no-repeat url(img/TestiPad.svg);
    background-size: 33%;
  }

  .main__button {
    padding: 10px 41px;
    margin: 2px 0 0 48%;
  }

  .future {
    padding: 102% 0 0 0;
    background: top 57px left -60px no-repeat url(img/cockpitiPad.svg);
    background-size: 137%;
  }

  .future__title {
    padding: 18px 0 9px 27px;
    font: 600 30px/37px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .future__text {
    padding: 0 40px 41px 27px;
  }

  .sefe__car {
    background: top 19px right 17px no-repeat url(img/frameiPad.svg);
    background-size: 94%;
    height: 258px;
  }

  .sefe__title {
    padding: 16px 10px 11px 31px;
  }

  .sefe__text {
    padding: 1px 20px 20px 31px;
  }

  .dropdown__h2 {
    padding: 170% 0 0 0;
    font: 600 92px/110px "montserratmedium", Arial, helvetica, sans-serif;
  }

  .menu__detailed {
    top: 627px;
    left: 46%;
  }
}
